**.pyc
**.aux
**.log
**.out
**.synctex.gz
**.suo
**__pycache__
**.idea
**.ipynb_checkpoints
**.pickle
**.npy
**.blg
**.bbl
**.bcf
**.toc
**.sh
**.zip
tron-server/static/*.wavz
tron-server/encoder/
tron-server/synthesizer/
tron-server/vocoder/
tron-server/Model.zip
env/*