.container {
  margin: 6px 0 32px 0;
  padding: 12px;
  font-size: 18px;
  font-weight: 900;
  font-family: var(--paragraph-font);
  color: var(--primary-black);
  width: 100%;
  transition: var(--my-transition);
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--primary-black);
  background-color: var(--primary-white);
}

.container:focus {
  border: 2px solid var(--primary-blue);
  box-shadow: 0 0 5px 0 var(--primary-blue);
}

.textareaInput {
  min-height: 200px;
  max-height: 80vh;
}

.select {
  cursor: pointer;
}

.option {
  background-color: var(--primary-white);
  padding: 20px 0 !important;
  cursor: pointer;
}
